name: flex_color_scheme_example
description: Examples that demonstrate how to use the FlexColorScheme package.
version: 4.2.0
publish_to: 'none'
environment:
  sdk: '>=2.15.0 <3.0.0'

dependencies:
  # Adds the Cupertino Icons font to your application. Used by the
  # CupertinoIcons class for iOS style icons, by Google flutter.dev.
  cupertino_icons: ^1.0.4

  # Color picker package, by Mike Rydstrom, rydmike.com (@rydmike).
  flex_color_picker: ^2.2.0

  # Color scheme package, by Mike Rydstrom, rydmike.com (@rydmike).
  flex_color_scheme:
    path: ../

  # The Flutter SDK, by Google flutter.dev.
  flutter:
    sdk: flutter

  # Masonry grid layout, by Romain Rastel.
  flutter_staggered_grid_view: ^0.6.1

  # Google fonts, by Google material.io.
  google_fonts: ^2.2.0

  # Hive local storage, by Simon Leir.
  hive: ^2.0.5

  # Material Design Icons, community designed. Used for
  # icons in the Platform selection popup menu.
  # https://materialdesignicons.com/
  material_design_icons_flutter: ^5.0.6595

  # Commonly used directories on host platform file systems.
  # https://pub.dev/packages/path_provider (by Google, flutter.dev).
  # Used to get a working storage path for Hive on Windows.
  path_provider: ^2.0.8

  # Store value pair shared preference data, by Google flutter.dev.
  # https://pub.dev/packages/shared_preferences
  shared_preferences: ^2.0.12

  # A class for parsing strings using a sequence of patterns.
  # By the Dart team, tools.dart.dev
  string_scanner: ^1.1.0

  # Used for launching a WEB URL, by Google flutter.dev.
  url_launcher: ^6.0.18

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
