name: flex_color_scheme_example
description: Examples that demonstrate how to use the FlexColorScheme package.
version: 4.0.0
publish_to: 'none'
environment:
  sdk: '>=2.14.0 <3.0.0'

dependencies:
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.4

  # Color scheme package, by Mike Rydstrom, rydmike.com (@rydmike).
  flex_color_scheme:
    path: ../

  # The Flutter SDK, by Google flutter.dev.
  flutter:
    sdk: flutter

  # Masonry grid layout, by Romain Rastel.
  #
  # Both this and WaterfallFlow  have layout issues when amount of columns
  # changes due to media resize, had to make workaround for the issues
  # with both cases. This package felt slower, but was more stable.
  flutter_staggered_grid_view: ^0.4.1

  # Masonry layout like staggered grid, by fluttercandies.com.
  #
  # Compared this one with Staggered Grid. This one felt a bit faster,
  # but both are equally bad when it comes handling varying amount of columns
  # and changes in it due to calculation of columns to used based on change in
  # media size and resulting layout area.
  # Might be a shared underlying issues in the SDK that is causing the problem.
  # This one crashed in some rapid window resizes so stuck with staggered grid.
  #
  # waterfall_flow: ^3.0.1

  # Google fonts, by Google material.io.
  google_fonts: ^2.1.0

  # Hive local storage, by Simon Leir.
  hive: ^2.0.4

  # Material Design Icons, community designed. Used for nicer
  # icons to the Platform selection popup menu.
  material_design_icons_flutter: ^5.0.6295

  # Commonly used directories on host platform file systems.
  # https://pub.dev/packages/path_provider (by Google, flutter.dev).
  # Used to get working storage path for Hive.
  path_provider: ^2.0.6

  # Store value pair shared preference data, by Google flutter.dev.
  # Needed some better platform icons for example 5 app.
  # https://materialdesignicons.com/
  shared_preferences: ^2.0.8

  # Used for launching a WEB URL, by Google flutter.dev.
  url_launcher: ^6.0.12

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
