name: flex_color_scheme_example
description: Examples that demonstrate how to use the FlexColorScheme package.
version: 8.0.1-dev.3.22
publish_to: 'none'
environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.22.0'

dependencies:
  # Prebuilt transition animations (by Google, flutter.dev).
  # Using the container transform navigation in mock Shop in Playground.
  # https://pub.dev/packages/animations
  animations: ^2.0.11

  # Provides encoders and decoders for various archive and compression
  # formats such as zip, tar, bzip2, gzip, and zlib. (by loki3d.com)
  # https://pub.dev/packages/archive
  archive: ^3.6.1

  # Confetti for some fun in the demo (by funwith.app).
  # Used for fun on the mock login button in the simulator app in the Playground.
  # https://pub.dev/packages/confetti
  confetti: ^0.8.0

  # Adds the Cupertino Icons font to your application. Used by the
  # CupertinoIcons class for iOS style icons, by Google flutter.dev.
  # https://pub.dev/packages/cupertino_icons
  cupertino_icons: ^1.0.8

  # Simulated device frames package by aloisdeniel.com.
  # Used by the theme simulator in the Playground.
  # https://pub.dev/packages/device_frame
  device_frame: ^1.2.0

  # Color picker package, by Mike Rydstrom, rydmike.com (@rydmike).
  # Used for color selection in the Playground to make customized color schemes.
  # https://pub.dev/packages/flex_color_picker
  flex_color_picker: ^3.6.0

  # Color scheme package, by Mike Rydstrom, rydmike.com (@rydmike).
  # https://pub.dev/packages/flex_color_scheme
  flex_color_scheme:
    path: ../

  # FlexSeedScheme package, by Mike Rydstrom, rydmike.com (@rydmike).
  # Used by the playground app to compute and display tonal palettes.
  # https://pub.dev/packages/flex_seed_scheme
  flex_seed_scheme: ^3.4.0

  # The Flutter SDK, by Google flutter.dev.
  flutter:
    sdk: flutter

  # SVG file drawing, used by Asset Images, by dnfield.dev, now Google.
  # Used to display undraw SVG image in Playground simulated mock apps.
  # https://pub.dev/packages/flutter_svg
  flutter_svg: ^2.0.14

  # Google fonts, by Google material.io.
  # https://pub.dev/packages/google_fonts
  google_fonts: ^6.2.1

  # Hive local storage, originally by Simon Leir.
  # Used as value-key pair persistence service in examples 4 and 5 (Themes Playground).
  # hive: ^2.2.3 # Original Hive package
  # This is a community fork that supports WASM-GC.
  hive_ce: ^2.7.0+1
  # path: ../../hive_ce/hive  # Use this to test a local copy of hive_ce

  # Internationalization package, by Google dart.dev.
  # Used only for date time string formatting in example 5.
  # https://pub.dev/packages/intl
  intl: ^0.19.0

  # Commonly used directories on host platform file systems, by Google (flutter.dev).
  # Used to get a working storage path for Hive on Windows.
  # https://pub.dev/packages/path_provider
  path_provider: ^2.1.5

  # Store value pair shared preference data, by Google flutter.dev.
  # Used as value-key pair persistence service in example 3.
  # https://pub.dev/packages/shared_preferences
  shared_preferences: ^2.3.3

  # A class for parsing strings using a sequence of patterns.
  # By the Dart team, tools.dart.dev
  # https://pub.dev/packages/string_scanner
  string_scanner: ^1.2.0

  # Used for launching a WEB URL, by Google flutter.dev.
  # https://pub.dev/packages/url_launcher
  url_launcher: ^6.3.1

  # Used for url queary param extraction in Playground
  # Replaces dart:html, support WASM. Package by Google dart.dev.
  # https://pub.dev/packages/web
  web: ^0.5.1

dependency_overrides:
  meta: ^1.14.0

dev_dependencies:
  # Flutter launcher icons package, by Mark O'Sullivan.
  # https://pub.dev/packages/flutter_launcher_icons
  # Maybe consider trying this one instead:
  # https://pub.dev/packages/icons_launcher
  flutter_launcher_icons: ^0.14.1

  # Flutter test package, by Google flutter.dev.
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  # all image assets used by the program.
  assets:
    # images contains all different resolutions:
    # mdpi (1.0x), hdpi (1.5x), xhdpi (2.0x), xxhdpi (3.0x), xxxhdpi (4.0x)
    - assets/images/
    # Google fonts, font assets
    - assets/google_fonts/

  # Custom icon font package with only used icons.
  fonts:
    - family: FlexIcons
      fonts:
        - asset: assets/fonts/FlexIcons.ttf
    - family: NotoSans
      fonts:
        - asset: assets/google_fonts/NotoSans-Bold.ttf
        - asset: assets/google_fonts/NotoSans-Medium.ttf
        - asset: assets/google_fonts/NotoSans-Regular.ttf
