name: flex_color_scheme
description: A Flutter package to use and make beautiful Material design based themes.
version: 6.2.0-dev.1
homepage: https://docs.flexcolorscheme.com
repository: https://github.com/rydmike/flex_color_scheme
issue_tracker: https://github.com/rydmike/flex_color_scheme/issues
documentation: https://docs.flexcolorscheme.com
environment:
  sdk: '>=2.18.0 <3.0.0'
  flutter: '>=3.7.0-13.0.pre.45'

dependencies:
  # FlexSeedScheme package, by Mike Rydstrom, rydmike.com (@rydmike).
  # https://pub.dev/packages/flex_seed_scheme
  flex_seed_scheme: ^1.2.0-dev.1

  flutter:
    sdk: flutter

  # Annotations used to express developer intentions that can't otherwise be deduced by
  # statically analyzing source code. Package is from Google dart.dev team.
  #
  # Flutter does not expose the "@internal" annotation via foundation, to use it we need to
  # import the package.
  meta: ^1.8.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # Color utilities by Google (material.io).
  # Used to compute and create Tonal Palette theme colors.
  # Flutter SDK from 2.10.0 stable also uses and depends on this package.
  #
  # Use ^0.1.3 for Flutter stable 2.10.x, that uses 0.1.3
  # Use ^0.1.3 for Flutter stable 3.0.x, that uses 0.1.4.
  # Use ^0.1.3 for Flutter rel candidates 3.1, 3.2, 3.4, that uses 0.1.5, beware that
  # version 0.1.5 has a new faster algo compared to 0.1.4, that changes some seed colors slightly.
  # Use ^0.2.0 for Flutter master 3.1.0-x, that uses 0.2.0 after 5.8.2022.
  #
  # This is an unusual range since 0.2.0 is a breaking semver step over 0.1.x, but it works for this
  # case, and was also observed as range used by Google package dynamic_color.
  material_color_utilities: '>=0.1.5 <=0.2.0'

  test:
