name: flex_color_scheme
description: A Flutter package to use and make beautiful Material design based themes.
version: 5.0.0-dev.2
homepage: https://github.com/rydmike/flex_color_scheme
environment:
  sdk: '>=2.12.0-0 <3.0.0'
  flutter: '>=2.10.0'

dependencies:
  flutter:
    sdk: flutter

  # Color utilities by Google (material.io).
  # Used to compute and create Tonal Palette theme colors.
  # Flutter SDK from 2.10.0 stable also uses and depends on this package.
  # Using ^0.1.3 because Flutter stable 2.10.0 uses it, master is on ^0.1.4
  material_color_utilities: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  test:
