name: flex_color_scheme
description: A Flutter package to use and make beautiful Material design based themes.
version: 5.2.0-dev.1
homepage: https://docs.flexcolorscheme.com
repository: https://github.com/rydmike/flex_color_scheme
issue_tracker: https://github.com/rydmike/flex_color_scheme/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc
documentation: https://docs.flexcolorscheme.com
environment:
  sdk: '>=2.17.0 <3.0.0'
  flutter: '>=3.1.0-0.0.pre.2199'

dependencies:
  flutter:
    sdk: flutter

  # Color utilities by Google (material.io).
  # Used to compute and create Tonal Palette theme colors.
  # Flutter SDK from 2.10.0 stable also uses and depends on this package.
  #
  # Use ^0.1.3 for Flutter stable 2.10.x, that uses 0.1.3
  # Use ^0.1.3 for Flutter stable 3.0.x, that uses 0.1.4.
  # Use ^0.1.3 for Flutter rel candidates 3.1, 3.2, 3.4, that uses 0.1.5, beware that
  # version 0.1.5 has a new algo compared to 0.1.4 that changes some seed colors slightly.
  # Use ^0.2.0 for Flutter master 3.1.0-x, that uses 0.2.0 after 5.8.2022 release.
  # material_color_utilities: ^0.1.3
  # material_color_utilities: ^0.1.4
  # material_color_utilities: ^0.1.5
  material_color_utilities: ^0.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  test:
