# This GitHub action runs on push to master, it:
#  - Installs dart and flutter
#  - Uses flutter stable channel. Might setup a matrix later with beta and dev included too.
#  - Gets package dependencies
#  - Runs dart analyze, allows deprecation warnings, we on purpose allow use of deprecated features for now.
#  - Show outdated packages, just added for info.
#  - Verify that dart format is used by all committed code, fails if not. Controversial but pub.dev penalizes you if
#    dart format is not used.
#  - Run all tests with coverage.
#  - Upload code coverage output to Codecov for analysis.
name: Test
on:
  push:
    branches: [master]
jobs:
  flutter_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Flutter and Dart SDK
        uses: subosito/flutter-action@v1.4.0
        with:
          channel: "stable"

      - name: Show Dart SDK version
        run: dart --version

      - name: Show Flutter SDK version
        run: flutter --version

      - name: Install Flutter package dependencies
        run: flutter pub get

      - name: Analyze Dart source
        run: dart analyze

      - name: Show outdated packges
        run: flutter pub outdated

      - name: Verify that Dart formatting is used, fail if not
        run: dart format --output=none --set-exit-if-changed .

      - name: Test package FlexColorScheme with test coverage
        run: flutter test --coverage

      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/lcov.info
      
